* {
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
}

button {
  border: none;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: #ffd3b6;
}

a:hover {
  color: #ffaaa5;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: #BEEBE9;
}

#logo {
  position: relative;
  display: inline-block;
  color: #FFFDF9;
  font-size: 40px;
  margin: 8px 3% 0 3%;
}

#tabs {
  display: inline;
}

.tab {
  color: rgba(255,253,249, 0.7);
  font-size: 24px;
  display: inline;
  margin: 8px;
}

.tab:hover {
  color: #FFFDF9;
  cursor: pointer;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 8px 0;
  text-align: center;
  background-color: #8AC6D1;
  color: rgba(255,253,249, 0.7);
  font-size: 14px;
}


.content {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 88px auto 6px auto;
}


.post {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
  display: flex;
  border: 1px solid #8AC6D1;
  border-radius: 5px;
  min-height: 120px;
  max-height: 240px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .content {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .content {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 90%;
  }
}


/* post */

.profile-photo {
  height: 45px;
  width: 45px;
  margin-right: 16px;
}

.post-info {
  display: inline-block;
  margin-bottom: 8px;
}

.like-button {
  float: left;
  color: rgba(57, 62, 70, 0.7);
  font-size: 14px;
}

.edit-buttons {
  float: right;
}

.edit-buttons button {
  margin: 0 4px;
}
